<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: #ccc;
        }

        .table-container {
            padding: 15px 20px;
        }

        .title {
            font-size: 25px;
            font-weight: 600;
            padding-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="topnav">
        <a href="/" class="active">Home</a>
        <a href="/create">Create User</a>
    </div>

    <div class="table-container">
        <!-- <%= JSON.stringify(listUsers) %> -->
        <div class="title">List Users</div>
        <table>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Action</th>
            </tr>

            <% listUsers.forEach(user=> { %>
                <tr>
                    <td>
                        <%= user.id %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.city %>
                    </td>
                    <td>
                        <a href="/update/<%= user.id %>">Edit</a>
                        <button>Delete</button>
                    </td>
                    <% }); %>
        </table>
    </div>

</body>

</html>